*{
    padding: 0;
    margin: 0;
}
header{
    background: rgb(255, 248, 243);
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right bottom;
    background-size: 100px 500px, 600px 350px;
    height: 550px;
}
nav{
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;

}
nav h1{
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    text-align: left;
    letter-spacing: 10px;
}
nav ul{
    display: flex;    
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    padding: 0px 40px;
    
}
nav ul li a{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
}

.header-content{
    display: flex;
    

}
.header-content .hi{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 1px;
    letter-spacing: 0%;
    text-align: left;
}
.header-content .name{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
}
.description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 40px;
    
}
.header-content .download{
    cursor: pointer;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    background-color: rgb(253, 110, 10);

}
.header-content .contacts{
    cursor: pointer;
    margin-left: 20px;
    padding: 5px 20px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    color: rgb(253, 110, 10);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}
.header-content img{
    height: 440px;
    width: 400px;
    /* position:absolute; */
    padding: 0;
    margin: -32px 0px 0px 150px;
}

/* main sections*/

/* about*/
.about{
    text-align: center;
    margin: 50px 200px;
    padding: 80px;
    background-color: rgb(255, 248, 243);

}
.about .about-details{
    border: 1px solid;
    background-color: white;
}
.title{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.about .description{
    text-align: center;
}
.identity-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.identity{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;

}
.identity-title{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}


/*skills*/
.skills{
    text-align: center;
    margin: 70px;
}
.skills .description{
    margin: 20px 170px;
    text-align: center;
}
.skills-details{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: left;
    
}
.skills-content{
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
    background: rgb(255, 255, 255);
    padding: 20px;
}
.skills-details .description{
    margin: 10px 30px 0px 0px;
    text-align: left;

}
.skill-name{
    margin: 20px 0px;
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}


/*sumaryy*/
.resume-summary{
    display: flex;
    margin: 60px 100px;
    justify-content: space-around;
}
.resume-title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
    padding: 0;
}
.resume-summary .identity-title{
    text-align: left;
    margin-top: 0px;
    margin: 0px;
    padding: 0px;
}
.resume-summary .description{
    text-align: left;
    margin-right: 90px;
}
.blank{
    border: 0.5px solid rgb(161, 154, 154);
    margin-right: 15px;
}
 .for-btn{
    text-align: center;
 }


 /*footer*/
 footer{
    background: rgb(255, 248, 243);
    padding: 100px;
    margin-top: 60px;

 }
 .footer-content{
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 150px;
 }
 .footer-content .title{
    text-align: left;
    margin-bottom: 20px;
 }
 .footer-content .description{
    /* padding-right: 290px; */
 }
 .footer-content ul{
    text-decoration: none;
    list-style-type: none;
    color: rgb(253, 110, 10);
    font-size: 20px;
    gap: 40px;
 }

 input, textarea{
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
 }
 footer .btn{
    margin-top: 30px;
 }
 footer .title{
    font-size: 22px;
 }